{% extends "obj_generator/base.html" %}

{% block content %}
    <div class="text-center content-section">
        <a href="" class="btn btn-primary" id="get_report" onclick="generateObj(); return false;">Generate object</a>
    </div>
    <div id="loading" class="text-center rounded mx-auto font-italic">
        <img src="https://wirres.net/sitedesign/wirres2/images/spiral.gif" alt=""/><p class="text-info">Please wait !</p>
    </div>

    <p id = "loading-text" class="text-center text-uppercase small" style="display: none">After generating the object, the file link will be appeared here</p>
    <div class="content-section text-center" style="padding: 20px" id="file-link">
    </div>

    <div class="text-center content-section">
        <a href="" class="btn btn-primary" id="generate_obj" onclick="getReport(); return false;">Reports</a>
    </div>

    <div class="content-section text-center">
        <h4 class="text-uppercase text-info">Report:</h4>
        <div id="obj-container"></div>
    </div>


{% endblock %}

{% block script %}

    <script>
        function attach_object(object_type_dict){
            const alphanumerics = object_type_dict['alphanumerics'];
            const integers = object_type_dict['integers'];
            const real_number = object_type_dict['real_number'];
            const string = object_type_dict['string'];
            const ReportFormattedHtml = `<\hr><div class="font-italic"><h4>Alphabetical Strings: <small>${alphanumerics}</small></h4>
                                        <h4 style="color: blue">Real Numbers: <small>${integers}</small></h4>
                                        <h4 style="color: teal">Integers: <small>${real_number}</small></h4>
                                        <h4 style="color: green">Alphanumerics: <small>${string}</small></h4></div> <\hr>`;
            $("#obj-container").html(ReportFormattedHtml)
        }

        function report(){
            const url = '/api/report/';
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'GET',
                headers: {},
                data : {},
                success: function (data) {
                    attach_object(data, false)
                },
                error: function (data, jqXhr, textStatus, errorThrown) {
                    document.getElementById("obj-container").innerText = 'No data';
                }
            });
        }

        function objGenerator(){
            const url = '/api/generate-obj/';
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'GET',
                headers: {},
                data : {},
                success: function (data) {
                    hideLoading();
                    console.log(data)
                    $("#file-link").html(`<a href="${data['file_link']}" id="download_link" download>Objects File Link</a>`)
                },
                error: function (data, jqXhr, textStatus, errorThrown) {
                    hideLoading();
                    document.getElementById("file-link").innerText = 'No link';
                }
            });
        }

        function getReport(){
                report();
            }

        function generateObj(){
            showLoading();
            objGenerator()
        }

        $("#download_link").click(function (e) {
            e.preventDefault(e);
            window.location.href = $("#download_link").attr("href");
        });

        function showLoading() {
            $("#loading").show();
            $("#loading-text").show()
        }

        function hideLoading() {
            $("#loading").hide();
            $("#loading-text").hide()
        }


    </script>

{% endblock %}
